<table class="table table-sm" id="tabella">
    <thead id="thead">
        
         
        <button class="btn"><i class="fa refresh"></i></button>  
        <button class="btn"><i class="fa refresh"></i></button>
        <button class="btn"><i class="fa refresh"></i></button>
        <button class="btn"><i class="fa refresh" aria-hidden="true"></i></button>
        <button class="btn"><i class="fa key" aria-hidden="true"></i></button>
        

          
                     
        
    </thead>
    <tbody id="tbody">
        <div style="width: 100%; height: 30em; overflow-y: scroll; border: 1px solid rgb(9, 9, 34)" id="tbody">
        

        </div>
    </tbody>

   
</table>