
#dash {
  border-collapse: collapse;  
}

#icone {
  width: 100%;
  position: relative;
  top: 8px;
  color: #000000;
  font-size: 25px; 
  left: -5px;
}

/* ICONE */

#standard {
  background-color:  grey;
}

#working {
  background-color: teal;
}

#plus-square {
  position: relative;
  top: 2px;
  left: 1px;
}

#pencil {
  position: relative;
  top: 2px;
  left: 2px;
}

#upload {
  position: relative;
  top: 2px;
  left: 2px;
}

#download {
  position: relative;
  top: 1px;
}

/** BODY **/

.table-responsive {
  height: 30.5em;
  width: 100%;
  position: relative;
  top: 4px;
  left: -2px;
  overflow-y: auto;
}



