
#dash {
  border-collapse: collapse;  
}

#icone {
  position: relative;
  border: solid;
  border-color: rgb(0, 0, 0); 
  color: #000000; 
  font-size: 25px; /* Set a font size */
}

#refresh {
  position: relative;
  left: 50px;
}

#bla {
  position: relative;
  left: 70px;
}

#bla1 {
  position: relative;
  left: 90px;
}

#bla2 {
  position: relative;
  left: 110px;
}

#bla3 {
  position: relative;
  left: 130px;
}

#bla4 {
  position: relative;
  left: 150px;
}

#security {
  position: relative;
  left: 160px;
}

/** BODY **/
  
#body {
  position: relative;
  padding: 5px;
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
}

#content {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  overflow-y: auto;
}
