<div id="dash">
  <div id="icone">
      <a><i class="fa fa-refresh" aria-hidden="true" title="refresh" id="refresh"></i></a>
      <a><i class="fa fa-soccer-ball-o" aria-hidden="true" title="bla bla bla" id="bla"></i></a>
      <a><i class="fa fa-smile-o" aria-hidden="true" title="bla bla bla" id="bla1"></i></a>
      <a><i class="fa fa-cab" aria-hidden="true" title="bla bla bla" id="bla2"></i></a>
      <a><i class="fa fa-vcard" aria-hidden="true" title="bla bla bla" id="bla3"></i></a>
      <a><i class="fa fa-key" aria-hidden="true" title="security" id="security"></i></a>
  </div>
    
  <div id="body">
    <div id="content">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Latest Version</th>
                <th scope="col">Ultima Modifica</th>
              </tr>
            </thead>
            <tbody *ngFor="let f of models['children']">
              <tr>
                <a *ngIf="f['type']=='model'" scope="row" target="_blank" routerLink="/modeler/{{modelsPath}}\\{{f.name}}">
                  <td>{{f.name}}</td>
                  <td>ci mettiamo bottone?</td>
                  <td>gg/mm/aaaa 00:00</td>
                </a>
              </tr>
            </tbody>
          </table>
          
          
      <!-- 
      <table class="table">
        <tbody *ngFor="let f of models['children']">

          <a *ngIf="f['type']=='model'" scope="row" id="card">{{f.name}}</a> 
  
        </tbody>
      </table>
      -->
    </div>
  </div>

        
</div>
