
#dash {
  border-collapse: collapse;  
}

#icone {
  position: relative;
  top: 8px;
  color: #000000; 
  font-size: 25px; /* Set a font size */
}

#refresh {
  position: relative;
  left: 50px;
}

#provaColore {
  background-color:  teal;
}

#modelName {
  position: relative;
  top: -40px;
  left: 425px;
}

#modello {
  width: 20%; 
  position: relative;
  top: -68px;
  left: 495px; 
}

#newModel {
  background-color: #f57c00;
}

.md-form input[type=text]:focus:not([readonly]) + label { 
  color: #f57c00;
 }

 input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), 
 input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), 
 input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), 
 input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), 
 input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), 
 input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) 
 {
  border-bottom: 1px solid #f57c00;
  box-shadow: 0 1px 0 0 #f57c00;
}

/** BODY **/

/**
#body {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-left: 10px;
  margin-right: -15px;
  border-style: solid;
  border-color: #f57c00;
}

#content {
  width: 100%;
  position: relative;
  margin-left: -10px;
  margin-right: 10px;
  height: 100%;
  border-style: solid;
  border-color: red;
}
*/
.table-responsive {
  height: 30.5em;
  width: 100%;
  position: relative;
  top: -80px;
  right: -7px;
  overflow-y: auto;
}



