<div id="dash">
  <div id="icone">
      <button mdbBtn type="button" class="btn btn-sm" title="Refresh" id="provaColore" mdbWavesEffect><mdb-icon icon="refresh" size="2x"></mdb-icon></button>
      <button mdbBtn type="button" class="btn btn-sm" title="bla bla bla" id="provaColore" mdbWavesEffect><mdb-icon icon="smile-o" size="2x"></mdb-icon></button>
      <button mdbBtn type="button" class="btn btn-sm" title="bla bla bla" id="provaColore" mdbWavesEffect><mdb-icon icon="cab" size="2x"></mdb-icon></button>
      <button mdbBtn type="button" class="btn btn-sm" title="bla bla bla" id="provaColore" mdbWavesEffect><mdb-icon icon="vcard" size="2x"></mdb-icon></button>
      <button mdbBtn type="button" class="btn btn-sm" title="Security" id="provaColore" mdbWavesEffect><mdb-icon icon="key" size="2x"></mdb-icon></button>
      <button mdbBtn type="button" class="btn btn-sm" (click)="createNewModel(modelName)" title="New model" id="newModel" mdbWavesEffect><mdb-icon icon="file-o" size="2x"></mdb-icon></button>

      <div class="md-form form-sm" id="modello" >
        <input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)]="modelName">
        <label for="form1" class="">nome modello</label>
      </div>
 
  </div>
    
  <div id="body">
    <div id="content">
      <div class="container">
        <table class="table table-lg">
          <thead id="tHead">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Latest Version</th>
              <th scope="col">Ultima Modifica</th>
            </tr>
          </thead>
          
          <tbody *ngFor="let f of models['children']">
            
            <tr *ngIf="f['type']=='model'">
              <a scope="row" (click)="chooseVersion(f)" data-toggle="modal" data-target="#versionModal">
                <td>{{f.name}}</td></a>
                <td>{{getVersion(f)}}</td>
                <td>gg/mm/aaaa 00:00</td>
            </tr>
            
          <!-- Modal -->
          <div class="modal fade" *ngIf="multipleVersion" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="versionLabel">Version</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <span>What version would you open? </span>
                  <select class="selectpicker" [(ngModel)]="versionNumber">
                    <option *ngFor="let n of model['children']">
                      {{n.name[0]}}
                    </option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="openModel(undefined, versionNumber)">Open Model</button>
                </div>
              </div>
            </div>
          </div>

          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>
