#wrap{
margin-top: 5px;
height: 100%;
background-image: linear-gradient(to bottom, #FFFFFF 0%, rgba(183, 228, 181, 0.993) 100%);
background-repeat: repeat;
}

#identità {
	margin-left: -30px;
}

.signin-btn {
  margin-top: 5px;
  background: #04c052;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: solid #000000  1px;
  text-decoration: none;
}
.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
	}
.form .form-control { 
	margin-bottom: 10px; 
}

#data {
	position: absolute;
	top: 50px;
	left: 60%;
}

.datepicker {
	position: absolute;
	left: 70%;
	top: 44px;   
	border-color: #000000;
}

.alert-danger {
	position: relative;
	bottom: 25px;
	text-align: center;
	align-content: center;
}

#affiliation {
	position: absolute;
	left: 0px;
}

#submit {
	position: relative;
    top: 18px;
}

.help-block {
	position: relative;
	top: 3px;
}