#wrap{
margin-top: 5px;  
background-image: linear-gradient(to bottom, #FFFFFF 0%, rgb(103, 206, 99) 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}
.signin-btn {
  margin-top: 5px;
  background: #04c052;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}
.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
	}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
	.img{
		padding-top: 15px;
		padding-right: 0px;
	}
}
