  body {
    background: #f1f2f7;
    display: table;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    width: 100%; }
  
  div[class*="col-"] {
    float: left; }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0; }
  
   img {
    max-width: 100%; }
  
  .basix-container {
    display: table;
    min-height: 100vh;
    position: relative;
    width: 100%; }

    /* left panel */  
  aside.left-panel {
    background: #272c33;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 240px;
    transition: width 0.3s ease; }
  
  .navbar {
    background: #272c33;
    border-radius: 0;
    border: none;
    display: block;
    margin: 0;
    margin-bottom: 100px;
    padding: 0; }
    .navbar .navbar-header {
      float: none;
      text-align: center;
      width: 100%; }
    .navbar .navbar-brand {
      border-bottom: 1px solid #4e4e52;
      color: #f1f2f7 !important;
      font-family: 'Open Sans';
      font-size: 22px;
      float: none;
      line-height: 50px;
      margin: 0;
      text-align: left;
      text-transform: capitalize;
      display: block;
      min-height: 69px;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .navbar .navbar-brand span {
        font-weight: 600; }
      .navbar .navbar-brand img {
        max-width: 160px; }
      .navbar .navbar-brand.hidden {
        display: none; }
    .navbar .menu-title {
      border-bottom: 1px solid #4e4e52;
      color: #9496a1;
      clear: both;
      display: block;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 700;
      line-height: 50px;
      padding: 15px 0 0 0;
      text-transform: uppercase;
      width: 100%; }
    .navbar .navbar-nav {
      float: none;
      position: relative; }
      .navbar .navbar-nav li {
        width: 100%; }
          .navbar .navbar-nav li > a {
          background: none !important;
          color: #c8c9ce !important;
          display: inline-block;
          font-family: 'Open Sans';
          font-size: 14px;
          line-height: 30px;
          padding: 10px 0;
          position: relative;
          width: 100%; }
          
        .navbar .navbar-nav li.menu-item-has-children {
          position: relative; }
          .navbar .navbar-nav li.menu-item-has-children a {
            line-height: 30px; }
            .navbar .navbar-nav li.menu-item-has-children a:before {
              content: "\f105";
              color: #c8c9ce;
              font-family: 'Fontawesome';
              font-size: 16px;
              position: absolute;
              top: 10px;
              right: 0;
              text-align: right;
              -webkit-transition: all .25s ease;
              -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
              -o-transition: all .25s ease;
              transition: all .25s ease; }
            .navbar .navbar-nav li.menu-item-has-children a:hover:before {
              color: #fff; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu {
            background: #272c33;
            border: none;
            box-shadow: none;
            overflow-y: hidden;
            padding: 0 0 0 35px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu li {
              position: relative; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu i {
              color: #c8c9ce;
              float: left;
              padding: 0;
              position: absolute;
              left: 0;
              font-size: 14px;
              top: 9px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
              padding: 2px 0 2px 30px; }
              .navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
                content: '';
                display: none; }
              .navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
                top: 13px;
                text-align: left;
                width: 25px; }
          .navbar .navbar-nav li.menu-item-has-children.show a:before {
            content: "\f107"; }
          .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
            max-height: 1000px;
            opacity: 1;
            position: static !important; }

  
