<body>
    <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav" id="miaNav">
                
            <h2 class="logo">Welcome {{nome}}</h2>
            
            <label for="nav-toggle" class="nav-toggle" (click)="clickNav()" ></label>
            
            <form name="folderForm" #fold="ngForm" (ngSubmit)="newFolderReq(fold)">
                <input required type="text" class="form-control" ngModel #foldername="ngModel" id="foldername" name="foldername" placeholder="nome cartella">  
                <button type="submit" class="btn btn-outline-light btn-sm" id="creaCartella" title="crea cartella"> <i class="fa fa-plus-square" aria-hidden="true" ></i> </button>
            </form>
            <form>
                <button type="button" class="btn btn-outline-light btn-sm" id="eliminaCartella" title="Elimina cartella"> <i class="fa fa-trash" aria-hidden="true" ></i></button>
            </form>
            <form>
                <button type="button" class="btn btn-outline-light btn-sm" id="modificaCartella" title="Modifica cartella"> <i class="fa fa-pencil-square" aria-hidden="true" ></i></button>
            </form>

            <ul>
                <li *ngFor="let f of folder">
                        <a (click)="select(f)"> <i class="fa fa-folder-o" aria-hidden="true"> {{f.name}}</i>
                            <ul *ngIf="selected && selected['name'] == f['name']">
                                <li *ngFor="let r of selected['children']">
                                    <a (click)="select(r)"><i class="fa fa-folder-o" aria-hidden="true"> </i> {{r.name}}</a>
                            </ul>
                    </a>
            </ul>
        </nav>

        <div class="container-fluid" id="miaDash">
            
           <app-dashbody></app-dashbody>

        </div>
            
        
</body>