<body>
    <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav" id="miaNav">
            <h2 class="logo">Welcome {{nome}}</h2>
            <label for="nav-toggle" class="nav-toggle" (click)="clickNav()" ></label>
            <form>
                <div class="form-group">
                <input type="search" class="form-control" placeholder="...">
                </div>
                <div class="button">
                <input type="submit" class="btn btn-outline-light" value="Cerca">
                </div>
            </form>
            <ul>
                <li *ngFor="let f of folder">
                    <a>{{f.name}}</a>
            </ul>
        </nav>

        <div class="container-fluid" id="miaDash">
            
            <table class="table table-sm" id="tabella">
                <thead id="thead">
                    <div class="btn-toolbar" role="toolbar" id="toolbar-dash" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2 btn-sm" role="group" aria-label="First group">
                            
                          <button type="button" class="btn btn-secondary">1</button>
                          <button type="button" class="btn btn-secondary">2</button>
                          <button type="button" class="btn btn-secondary">3</button>
                          <button type="button" class="btn btn-secondary">4</button>
                          <button type="button" class="btn btn-secondary">5</button>
                          <button type="button" class="btn btn-secondary">6</button>
                          <button type="button" class="btn btn-secondary">7</button>
                          <button type="button" class="btn btn-secondary">8</button>
                        </div>
                      
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end" id="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                      
                    </div>
                </thead>
                <tbody id="tbody">
                    <div style="width: 100%; height: 525px; overflow-y: scroll; border: 1px solid rgb(9, 9, 34)" id="tbody">
                    

                    </div>
                </tbody>

               
            </table>
                
            
        </div>
            
        
</body>