<body>
    <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav" id="miaNav">
            <h2 class="logo">Welcome {{nome}}</h2>
            <label for="nav-toggle" class="nav-toggle" (click)="clickNav()" ></label>
            <form>
                <div class="form-group">
                <input type="search" class="form-control" placeholder="...">
                </div>
                <div class="button">
                <input type="submit" class="btn btn-outline-light" value="Cerca">
                </div>
            </form>
            <ul>
                <li><a href="#1">Uno </a>
                <li><a href="#2">Due</a>
                <li><a href="#3">Tre</a>
                <li><a href="#4">Quattro</a>
                <li><a href="#5">Cinque</a>
                <li><a href="#6">Sei</a>
                <li><a href="#7">Sete</a> 
            </ul>
        </nav>

        <div id="miaDash">
            dashboard works
        </div>
</body>