<div class="span7"> 
  <h1 class="welcome"> <small>Advanced Process Analytics Platform</small> </h1> 
  <p>
    Apromore is an online business process analytics platform. 
    Originally conceived as an advanced process model repository, 
    today Apromore offers a wide range of features which go beyond those for managing large 
    process model collections, and include state-of-the-art process mining analytics for the 
    automated discovery of block-structured, hierarchical BPMN models, for the behavior-based 
    comparison of process models and event logs for conformance checking, for the detection of 
    process drifts from event logs, the replaying of event logs on top of BPMN models, the visual 
    analysis of process performance, and for much more. It relies on a highly-extensible plugin 
    architecture based on OSGi. Visit <a href="http://www.apromore.org">www.apromore.org</a> for 
    more information and development resources.
</p>
</div>