<header>
	<body id="bodyNav">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="row">
				<div class="d-flex animated fadeInRightBig">
            <h2>{{nome}}.bpmn</h2>
					<div class="btn-group" id="file" mdbDropdown>
						<button mdbDropdownToggle type="button" mdbBtn color="light" outline="true" size="sm" class="dropdown-toggle waves-light" mdbWavesEffect>
							File
						</button>
					
						<div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" data-toggle="modal" data-target="#createModelModeler">New Model</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#deleteModeler">Delete Model</a>
							<div class="divider dropdown-divider"></div>
							<a class="dropdown-item" (click)="importModeler()">Import Model</a>
              <input type="file" accept=".bpmn" id="upload" (change)="handleFileInputModeler($event.target.files)" hidden />
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" data-toggle="modal" data-target="#versionModal">Save Model</a>
						</div>
					</div>
					<div class="btn-group" id="discover" mdbDropdown>
						<button mdbDropdownToggle mdbBtn color="light" outline="true" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
							Discover
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" (click)="runWebService('s3')">S3
              </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</header>

<div class="modeler">
    <div id="canvas"></div>
    <div id="properties"></div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="versionLabel">Version</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Please specify the version of the model</span>
          <input  type="number" id="version" [(ngModel)]="versionNumber"  />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkOver" (click)="checkOverwrite(versionNumber)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" *ngIf="overwrite" id="checkOver" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="versionLabel">Version</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Are you sure? You are going to overwrite {{previous ? previousMessage : currentMessage}}. This action cannot be undone!</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save(newVersion)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-success alert-dismissible" *ngIf="alerts && success" id="save1">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Model saved successfully</strong>
  </div>

  <div class="alert alert-danger alert-dismissible" *ngIf="alerts && !success" id="save1">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>There was a problem on saving the model. Please retry!</strong>
  </div>

      <!-- Modal -->
<div class="modal fade" id="createModelModeler" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="versionLabel">Create Model</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <span>You are going to create a new model into this path: <br><strong>{{folderPath}}</strong><br></span>
		  <input type="text" id="newModel1" [(ngModel)]="newModel" />
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" (click)="newModelReqModeler(newModel)" onclick="$('.modal').modal('hide')">Save Changes</button>
		</div>
	  </div>
	</div> 
  </div>

        <!-- Modal -->
<div class="modal fade" id="deleteModeler" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="versionLabel">Delete Model</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete <strong>{{nome}}</strong>? This action cannot be undone</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteReqModeler()" onclick="$('.modal').modal('hide')">Save Changes</button>
      </div>
      </div>
    </div> 
    </div>