#properties {
  position: absolute;
  top: 50px;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

#salva {
  position: relative;
  top: -250px;
  left: 17px;
  background-color:  teal;
}

