#properties {
  position: absolute;
  top: 50px;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

#salva {
  position: relative;
  top: -250px;
  left: 17px;
  background-color:  teal;
}
#version{
  text-align:right;
  width: 14%;
  position: relative;
  left: 6px;

}

#save1 {
  text-align: center;
  position: relative;
  top: -200px;
}

.body{
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* navbar dopo il login */

.navbar{
	height: 50px;
	background:  teal;
	border-bottom-color: rgb(104, 231, 0);
	border-bottom-style: solid; 

}
.navbar-brand{
	color: white;
}

.nav-link{
	position: relative;
	color: white;
}

.nav-link dropdown-toggle{
	color: white;
}

.d-flex{
	position: absolute;
	left: 64px;
	top: 11px;
	height: 32px;
	z-index: 999;
}

#file {
	position: relative;
	left: 50px;
}

#discover {
  position: relative;
  left: 150px;
}

/**
* Definiamo lo stile del titolo(logo) del pannello  
*/
.logo2{
	color: rgb(255, 255, 255);
	font-size: 30px;
	position: absolute;
	top: 7px;
	left: 45px;
}
#imageLoad{
	position: relative;
	height: 30px;
	margin-top: -470px; 
	margin-left: 20px;
	visibility: hidden;
}

#imageSoundness{
	position: relative;
	height: 30px;
	margin-top: -470px; 
	margin-left: 30px;
	visibility: hidden;
}

#imageSafeness{
	position: relative;
	height: 30px;
	margin-top: -470px; 
	margin-left: 40px;
	visibility: hidden;
}