<div class="modeler">
    <div id="canvas"></div>
    <div id="properties"></div>
  </div>
  
  <!-- Button trigger modal -->
<button mdbBtn type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#versionModal" id="salva" mdbWavesEffect>
    <i class="fa fa-save"></i>
    Save
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="versionLabel">Version</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Please specify the version of the model</span>
          <input  type="number" id="version" [(ngModel)]="versionNumber"  />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkOver" (click)="checkOverwrite(versionNumber)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" *ngIf="overwrite" id="checkOver" tabindex="-1" role="dialog" aria-labelledby="versionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="versionLabel">Version</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Are you sure? You are going to overwrite {{previous ? previousMessage : currentMessage}}. This action cannot be undone!</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save(newVersion)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-success alert-dismissible" *ngIf="alerts && success">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Model saved successfully</strong>
  </div>

  <div class="alert alert-danger alert-dismissible" *ngIf="alerts && !success">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>There was a problem on saving the model. Please retry!</strong>
  </div>