<header *ngIf="!isLogged; else logged">
	<div>
    <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="logo">ProsChain</div>
		</div>
		<div class="col-sm-6 hidden-xs">
			<form  name="loginForm" #f="ngForm" (ngSubmit)="logIn(f)" >
			<div class="row">
				<div class="col-sm-5">
					  <div class="form-group">
					    <input required email type="email" name="email"  ngModel #email="ngModel" id="email"  class="form-control" placeholder="Email Address" >
							<div *ngIf="email.dirty && email.touched && email.invalid" >
								<div class="alert-danger" *ngIf="email.errors.required">Email required</div>
								<div class="alert-danger" *ngIf="email.errors.invalid">Email incorrect</div>
							</div>
							<div class="login-bottom-text checkbox hidden-sm">
						  </div>
					  </div>
				</div>	
				<div class="col-sm-5">
					 <div class="form-group">
					    <input required minlength="6"  type="password" ngModel #password="ngModel" id="password" name="password"  class="form-control" placeholder="Password">
							<div *ngIf="password.dirty && password.touched && password.invalid" >
									<div class="alert-danger" *ngIf="password.errors.required">Password Required</div>
							</div>
							<div  class="login-bottom-text hidden-sm"> Forgot your password?  </div>
					  </div>
				</div>
				<div class="col-sm-2">
					 <div class="btn-group">
							<button type="submit" [disabled]="!f.valid" value="Login" class="btn btn-outline-dark">Login</button>
							<button type="button" value="Sign In" class="btn btn-outline-dark" (click)="signin(f.form)" >Sign In</button> 
					 </div>
				</div>
			</div>	
		</form>
		</div>
		
	</div>
	</div>
</div>
</header>
<!-->Qua sotto la navbar per quando è loggato<-->
<ng-template #logged>
	<div class="navbar">
		<div class="row">
			<div class="d-flex">
				<div class="dropdown mr-1">
				  <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" id="File" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
					File
				  </button>
				  <div class="dropdown-menu" aria-labelledby="File">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
				  </div>
				</div>
				<div class="dropdown mr-1">
				  <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" id="Discover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
					Discover
					</button>
				  <div class="dropdown-menu" aria-labelledby="Discover">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
				<div class="dropdown mr-1">
					<button type="button" class="btn btn-secondary dropdown-toggle btn-sm" id="Analyze" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
						Analyze
					</button>
					<div class="dropdown-menu" aria-labelledby="Analyze">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
				<div class="dropdown mr-1">
					<button type="button" class="btn btn-secondary dropdown-toggle btn-sm" id="Redesign" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
						Redesign
					</button>
					<div class="dropdown-menu" aria-labelledby="Redesign">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
				<div class="dropdown mr-1">
					<button type="button" class="btn btn-secondary dropdown-toggle btn-sm" id="Implement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
						Implement
					</button>
					<div class="dropdown-menu" aria-labelledby="Implement">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
			</div>
			
			<div class="logout-button">
				<button *ngIf="isLogged" type="button" value="Logout" class="btn btn-outline-light btn-sm" (click)="logout($event)">Logout</button>
			</div>
		</div>
	</div>
</ng-template>
