<header *ngIf="!isLogged; else logged">
	<div>
    <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="logo">ProsChain</div>
		</div>
		<div class="col-sm-6 hidden-xs">
			<form  name="loginForm" #f="ngForm" (ngSubmit)="logIn(f)" >
			<div class="row">
					<div class="alert-danger" *ngIf="fail">{{errore}}</div>
				<div class="col-sm-5">
					  <div class="form-group">
					    <input required email type="email" name="email"  ngModel #email="ngModel" id="email"  class="form-control" placeholder="Email Address" >
							<div *ngIf="email.dirty && email.touched && email.invalid" >
								<div class="alert-danger" *ngIf="email.errors.required">Email required</div>
								<div class="alert-danger" *ngIf="email.errors.invalid">Email incorrect</div>
							</div>
							<div class="login-bottom-text checkbox hidden-sm">
						  </div>
					  </div>
				</div>	
				<div class="col-sm-5">
					 <div class="form-group">
					    <input required minlength="6"  type="password" ngModel #password="ngModel" id="password" name="password"  class="form-control" placeholder="Password">
							<div *ngIf="password.dirty && password.touched && password.invalid" >
									<div class="alert-danger" *ngIf="password.errors.required">Password Required</div>
							</div>
							<div  class="login-bottom-text hidden-sm"> Forgot your password?  </div>
					  </div>
				</div>
				<div class="col-sm-2">
					 <div class="btn-group">
							<button type="submit" [disabled]="!f.valid" value="Login" class="btn btn-outline-dark">Login</button>
							<button type="button" value="Sign In" class="btn btn-outline-dark" (click)="signin(f.form)" >Sign In</button> 
					 </div>
				</div>
			</div>	
		</form>
		</div>
		
	</div>
	</div>
</div>
</header>
<!-->Qua sotto la navbar per quando è loggato<-->
<ng-template #logged>
	<div class="navbar">
		<div class="row">
			<nav class="navbar navbar-expand-lg">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="icon-bar">
							<a class="active" href="#"><i class="fa fa-home"></i></a> 
							<a href="#"><i class="fa fa-search"></i></a> 
							<a href="#"><i class="fa fa-envelope"></i></a> 
							<a href="#"><i class="fa fa-globe"></i></a>
							<a href="#"><i class="fa fa-trash"></i></a> 
					</div>
					
				</div>
			</nav>
			<div class="logout-button">
			<button *ngIf="isLogged" type="button" value="Logout" class="btn btn-outline-light btn-sm" (click)="logout($event)">logout</button>
			</div>
		</div>
	</div>
</ng-template>
