<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header>
    <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="logo">ProsChain</div>
		</div>
		<div class="col-sm-6 hidden-xs">
			<div class="row">
				<div class="col-sm-5">
					  <div class="form-group">
					    <input type="text" class="form-control" placeholder="Email Address">
					    <div class="login-bottom-text checkbox hidden-sm">
						    <label>
						      <input type="checkbox" id="">
						      Keep me sign in
						    </label>
						  </div>
					  </div>
				</div>	
				<div class="col-sm-5">
					 <div class="form-group">
					    <input type="text" class="form-control" placeholder="Password">
					    <div class="login-bottom-text hidden-sm"> Forgot your password?  </div>
					  </div>
				</div>
				<div class="col-sm-2">
					 <div class="form-group">
					    <input type="button" value="login" class="btn btn-default btn-header-login">
					  </div>
				</div>
			</div>	
		</div>
	</div>
	</div>
</header>