.body{
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.logo{
	color: white;
	margin-top: -17px;
	font-size: 40px;
	padding: 4px 0;
	padding-bottom: 10px;
}
.btn-group{
	margin-right: 100px;
	margin-top: -7px;
}

.login-bottom-text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: white;
	line-height: 19px;
}

header{
	height: 75px;
	background: rgb(30, 42, 199); /* #04c052 ; #06045e */
	padding-top: 19px;
}
header .form-group{
	margin-bottom: 0px;
}
header .btn-header-login{
	margin-bottom: 15px;	
}
.login-main{
	margin-top: 130px;
}
.multibox{
	padding-left: 0px;
	padding-bottom: 10px;
}
.login-main span{
	font-size: 12px;
} 

#allerta {
	position: absolute;
	top: 3px;
	left: -184px;
	width: 78%;
	color: red;
	background-color: white;
	border-style: solid;
	border-color: red;
}

.alert-danger {
	color: white;
	background: none;
	position: relative;
	top: -2px;
	left: 5px;
}

#alert {
	position: relative;
	top: -53px;
	left: -360px;
	width: 350px;
}

/* navbar dopo il login */

.navbar{
	height: 50px;
	background: rgb(30, 42, 199);
	border-bottom-color: #f57c00;
	border-bottom-style: solid; 

}
.navbar-brand{
	color: white;
}

.nav-link{
	position: relative;
	color: white;
}

.nav-link dropdown-toggle{
	color: white;
}

.d-flex{
	position: absolute;
	left: 285px;
	top: 11px;
	height: 32px;
	z-index: 999;
}

#file {
	position: relative;
	left: 50px;
}

#discover {
	position: relative;
}

#analyze {
	position: relative;
	left: -50px;
}

#redesign {
	position: relative;
	left: -100px;
}

#implement {
	position: relative;
	left: -150px;
}

#monitor {
	position: relative;
	left: -200px;
}

.logout-button {
	position: relative;
	left: -260px;
	top: -9px;
}

/**
* Definiamo lo stile del titolo(logo) del pannello  
*/

.logo2{
	color: rgb(255, 255, 255);
	font-size: 28px;
	position: absolute;
	top: 5px;
	left: 37px;
}