body{
    font-family: 'Open Sans', sans-serif;
}
.logo i {
	font-size: 31px;
	margin-right: 4px;
	word-spacing: 14px;
}
.logo{
	color: white;
	margin-top: -13px;
	font-size: 40px;
	padding: 4px 0;
	padding-bottom: 10px;

}
.login-bottom-text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: white;
	line-height: 19px;
}

header{
	background: #04c052;
	padding-top: 20px;
}
header .form-group{
	margin-bottom: 0px;
}
header .btn-header-login{
	margin-bottom: 15px;	
}
.login-main{
	margin-top: 130px;
}
.multibox{
	padding-left: 0px;
	padding-bottom: 10px;
}
.login-main span{
	font-size: 12px;
} 

