<input type="checkbox" id="nav-toggle"> 
<nav class="nav" id="miaNav">
  <label #mylabel for="nav-toggle" class="nav-toggle" id="label-nav" (click)="clickNav()" ></label> 
        
    <a  id="creaCartella" title="New" data-toggle="modal" data-target="#creationModal"> <i class="fa fa-plus-square-o" aria-hidden="true" ></i> </a>
    <a  id="eliminaCartella" title="Delete" data-toggle="modal" data-target="#deleteModal"> <i class="fa fa-trash-o" aria-hidden="true" ></i></a>
    <a  id="modificaCartella" title="Rename" data-toggle="modal" data-target="#modifyModal"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i></a>
    <div class="alert-danger" *ngIf="msgerror">Select one folder to continue</div>

    <div class="breadcrumb">
      
      <li class="breadcrumb-item"><a>{{selected.path}}</a></li>
      
    </div>

  <!-- Modal -->
  <div class="modal" *ngIf="selected && selected.path != '/'" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete a folder</h5>
        </div>
        <div class="modal-body">
          <span>Are you sure you want to delete <strong>{{nameSelected}}</strong> ? This action cannot be undone</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteFolderReq()" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" *ngIf="selected" id="creationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new folder</h5>
        </div>
        <div class="modal-body">
          <p>You are going to create a new folder into this path <strong><br>{{selected.path}}<br></strong></p>
          <input type="text" id="newFolder" [(ngModel)]="newFolder" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="newFolderReq(newFolder)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" *ngIf="selected && selected.path != '/'" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit a folder</h5>
        </div>
        <div class="modal-body">
          <p>You are going to edit the folder into this path <strong><br>{{selected.path}}<br></strong></p>
          <input type="text" id="modifyFolder" [(ngModel)]="modifyFolder" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="modifyFolderReq(modifyFolder)" onclick="$('.modal').modal('hide')">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <app-folder [folder]="folder" (folderSelected)="selezionata($event)" id="folder1"></app-folder>
</nav>

