<input type="checkbox" id="nav-toggle"> 
<nav class="nav" id="miaNav">
    <label #mylabel for="nav-toggle" class="nav-toggle" id="label-nav" (click)="clickNav()" ></label> 
    <form name="folderForm" #fold="ngForm" (ngSubmit)="newFolderReq(fold)">
        <input required type="text" class="form-control" ngModel #foldername="ngModel" id="foldername" name="foldername" placeholder="nome cartella">  
        <a type="submit" id="creaCartella" title="crea cartella"> <i class="fa fa-plus-square-o" aria-hidden="true" ></i> </a>
    </form>
    <form>
        <a id="eliminaCartella" title="Elimina cartella"> <i class="fa fa-trash-o" aria-hidden="true" ></i></a>
    </form>
    <form>
        <a id="modificaCartella" title="Modifica cartella"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i></a>
    </form>

    <app-folder [folder]="folder"></app-folder>
    
</nav>